.inventorys {
    margin: 4em 0 8em;
}

.Inventory-header {
    font-family: 'Prata',
        serif;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 7px;
    color: #627261;
    margin: 1em 0;
}

.more {
    text-align: end;

}

.link-texts {
    font-weight: 600;
    font-size: 1.2em;
    color: #627261;
    transition: ease-in-out 0.2s;
}

.link-texts:hover {
    color: #627261;
    letter-spacing: 3px;
}