.productId {
    background-color: #F5F5F3;
}

.product-info {
    padding: 3em 0;
}

.product-route {
    background-color: #fff;
    padding: 2em 0;
    text-align: start;
    margin-bottom: 3em;
}

.products-detail {
    margin-top: 1em;
    text-align: start;
    padding: 0 10px;
}

.products-detail h2 {
    text-align: start;
    font-size: 2em;
    font-family: 'Prata',
        serif;
    color: #333932;
    font-weight: 600;
    margin-bottom: 10px;
}

.details {
    color: #627261;
    margin-top: 1.5em;
    font-size: 1.1em;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.review {
    margin-left: 1em;
}

.quantity {
    margin: 2em 0;
}

.quantity p {
    font-size: 1.5em;
    font-weight: 600;
}

.quantity span {
    margin-left: 0.5em;
    padding: 10px 3em;
    background-color: #D0D5D0;
}

.delivered {
    margin-top: 1.3em;
    border: none;
    background-color: #333932;
    color: #F5F5F3;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 3em;
    transition: ease-in-out 0.3s;
    margin-bottom: 2em;
}

.delivered:hover {
    background-color: #627261;
}

.mores {
    text-align: start;
}


.restock-form {
    padding: 2.5em 0 1em;
    background-color: #D0D5D0;
}

@media only screen and (max-width: 600px) {
    .restock-form {
        width: 100%;
        padding: 2.5em 0 1em;
        background-color: #D0D5D0;
    }

    .restock {
        width: 100;
    }
}