.nav-body {
    background-color: #333932;
    /* background-color: #627261; */
}

.brand-name {
    font-family: 'Prata', serif;
    color: #Fff;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav-bar {
    color: #F5F5F3;
    font-size: 1em;
    transition: ease-in-out 0.3s;
}

.nav-bar:hover {
    color: #B0A69A;
}