.nav-body {
    /* background-color: #475046; */
    background-color: #627261;
}

.brand-name {
    font-family: 'Prata', serif;
    color: #Fff;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav-bar {
    color: #F5F5F3;
    font-size: 1em;
}

.nav-bar:hover {
    color: #B0A69A;
}